.Content {
    text-align: center;
    display: flex;
    justify-content: flex-start;
} 

.Content .Sub-menu {
    flex: 1;
}

.Content .Main {
    flex: 3;
}

.Content .Main .Main-title {
    margin-top: 3em;
}

.Content .Main .Main-content {
    margin-top: 3em;
    width: fit-content;
}